*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: sans-serif;
  box-sizing: border-box; }

menu {
  position: relative; }
  menu__button {
    position: fixed;
    top: 1rem;
    right: 1rem; }
