*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: sans-serif;
  box-sizing: border-box; }

.menu {
  position: relative;
  padding: 1rem; }
  .menu__button {
    position: fixed;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    padding: 1rem;
    border: none; }
    .menu__button__item-1 {
      position: absolute;
      right: 1rem;
      top: 6rem;
      font-size: 2.5rem;
      padding: 1rem; }
    .menu__button__item-2 {
      position: absolute;
      right: 1rem;
      top: 10rem;
      font-size: 2.5rem;
      padding: 1rem; }
    .menu__button__item-3 {
      position: absolute;
      right: 1rem;
      top: 14rem;
      font-size: 2.5rem;
      padding: 1rem; }

.brand-name {
  font-size: 2.5rem; }

.nav {
  padding-left: 1rem; }
